[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
mysqlclient = "*"
uvicorn = {extras = ["standard"], version = "==0.17.6"}
python-dotenv = "*"
python-jose = {extras = ["crypography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
pydantic-settings = "*"

[dev-packages]
pre-commit = "==2.18.1"
pytest = "==7.1.2"
pytest-cov = "==3.0.0"
black = "==22.3.0"

[requires]
python_version = "3.10"
python_full_version = "3.10.11"

[scripts]
start = "uvicorn main:app --reload"
